form {
  margin: 16px;
}

button {
  background-color: #fff;
  color: #3f0e40;
  border: none;
  padding: 8px 16px;
    border-radius: 4px;
  cursor: pointer;
  margin: 8px auto;
}

.text-input {
  margin-bottom: 1em;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 4px;
}

.text-input input {
  width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    box-sizing: border-box;
    margin: 8px auto;
  }
  
  .text-input input:focus {
    outline: none;
    border-color: #3f0e40;
}